<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="field my-2">
    <%= form.label :icon, style:"display:none" %>
    <%= form.file_field :icon, direct_upload: true, accept: "image/jpeg, image/gif, image/png", class: 'name-input' %>
</div>
<div class="field my-3">
    <%= form.label :name, style:"display:none" %>
    <%= form.text_field :name, placeholder:"Group name", class: 'name-input' %>
</div>
<div class="actions">
    <%= form.submit  class:'btn btn-outline-primary new-user-btn text-dark mt-0' %>
</div>
<% end %>
