<% provide(:title, "#{@user.name}") %>
<div class="d-flex flex-column align-items-center font-weight-bold">
    
    <div class="d-flex flex-column align-self-left">
        <p class="text-left font-weight-bold mt-5 h4">
            Total Expenditure: <%= total_expenses(@user.expenditures) %> 
        </p>
    </div>
    
    <div class="user-profile-ul ">
        <ul class="list-group">
            <div class="username text-dark d-flex justify-content-center nav-link p-2 mb-3 h3"> <%="Hello #{current_user.name.capitalize }"%></div>
            <li class="list-group-item">
                <%=link_to 'All My Expenses', expenditures_path, class: 'nav-link d-flex justify-content-left bi bi-people-fill'%>
            </li>
            <li class="list-group-item">
                <%=link_to 'All My Miscellaneous Expenses', expenditures_path(ungrouped: true), class: 'nav-link d-flex justify-content-left bi bi-list-stars'%>
            </li>
            <li class="list-group-item">
                <%=link_to 'All Groups', groups_path, class: 'nav-link d-flex justify-content-left bi bi-collection-fill'%>
            </li>
            <li class="list-group-item">
                <%=link_to 'Edit your profile', edit_user_path(current_user), class:'d-flex justify-content-left nav-link text-decoration-none bi bi-pencil-square'%>
            </li>
        </ul>
    </div>
    <div class="log-sign-btns jusitfy-self-end position-absolute bottom-0 bg-primary">
        <%=link_to '', '', class:'btn sign-up-btn text-secondary'%>
    </div>
</div>
<div class =  "d-flex flex-column align-items-center">
<%= link_to 'Users', users_path, class:'btn btn-outline-primary new-user-btn text-dark mt-5' %>
</div>
